# Build output
bin/
obj/
out/
publish/
**/Release/
**/Debug/

# Test results
[Tt]est[Rr]esults/
*.trx
*.coverage
coverage*/

# NuGet
*.nupkg
*.snupkg
.nuget/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.opendb
*.dbcache
*.docs.dll

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Rider
.idea/

# Windows
Thumbs.db
Desktop.ini

# SQL Server
*.mdf
*.ldf
*.ndf

# Docker
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/

# OmniSift
infra/db/data/
logs/
temp/
